#include <windows.h>
#include <afxres.h>
#include "../resource.h"

/* 简体中文资源 */

#if !defined(AFX_RESOURCE_DLL)
#ifdef _WIN32
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)
#endif //_WIN32

/* 版本信息 */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION @WINVERSION@
 PRODUCTVERSION @WINVERSION@
 FILEFLAGSMASK 0x0L
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "RedFlag"
	    VALUE "FileDescription", "红旗Chinese Language for rfsetup"
	    VALUE "FileVersion", "@VERSION@"
	    VALUE "InternalName", "pidgin"
	    VALUE "LegalCopyright", "Copyright (C) 1998-2010 The Pidgin developer community (See the COPYRIGHT file in the source distribution)."
	    VALUE "OriginalFilename", "zh_CN.dll"
	    VALUE "ProductName", "ProductName"
	    VALUE "ProductVersion", "@VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

/* 字符串表 */
STRINGTABLE
BEGIN
    IDS_APP_FONT	"SimSun Sans Serif"
    IDS_APP_TITLE	"Qomo Linux 辅助工具"
    IDS_APP_SUMMARY	"快速、方便体验Qomo Linux"
    IDS_APP_FRAME	"请选择"
    IDS_APP_HD_INST	"从本地硬盘安装操作系统"
    IDS_APP_USB_INST	"制作可启动移动设备（LiveUSB）"
    IDS_APP_ISO_FILE	"ISO 文件(&I)"
    IDS_APP_BROWSER	"浏览(&B)"
    IDS_APP_HOMEPAGE	"主页："
    IDS_APP_CONFIRM	"确认(&C)"
    IDS_APP_QUIT	"退出(&Q)"
    IDS_OFN_TITLE	"请选择Qomo ISO文件..."

    IDS_MSG_INFO		"信息"
    IDS_MSG_ERROR		"错误"
    IDS_MSG_WARNING		"警告"
    IDS_MSG_QUESTION		"问题"
    IDS_MSG_NOT_ISO		"请选择一个正确的ISO文件"
    IDS_MSG_FILE_NOT_EXISTS	"您选择的文件不存在！"
    IDS_MSG_GET_VER_ERR		"获取Windows版本信息时出错!"
    IDS_EXTRACT_KERNEL_E	"提取内核时出错!"
    IDS_UPDATE_GRUBCFG_E	"更新grub.cfg文件失败！"
    IDS_REBOOT_NOW		"操作已成功，是否现在重启？"
    IDS_INSERT_USB_DISK		"请插入可移动磁盘"
    IDS_HELLO               "你好!"
END

#endif    // Chinese resources
